{% extends "::base.html.twig" %}

{% block content %}
    <div class="col-lg-12">
        {{ form_errors(form) }}

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal form-register">
            <h2 class="form-login-heading">Please register</h2>

            <label for="username" class="sr-only required">Username:</label>
            {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
            {{ form_errors(form.username) }}

            <label for="plainPassword" class="sr-only required">Password:</label>
            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password'}}) }}
            {{ form_errors(form.plainPassword) }}

            <label for="password" class="sr-only required">Confirm password:</label>
            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirm password'}}) }}

            <label for="email" class="sr-only required">Email:</label>
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
            {{ form_errors(form.email) }}

            <label for="password" class="sr-only required">Phone number:</label>
            {{ form_widget(form.phoneNumber, {'attr': {'placeholder': 'Phone number'}}) }}
            {{ form_errors(form.phoneNumber) }}

            <button id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

            {{ form_end(form) }}
        </form>

        <p class="text-center small-text">
            Already have an account? <a href="{{ path('fos_user_security_login') }}">Login</a>
        </p>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}
