{% extends "::base.html.twig" %}

{% block content %}
    <div class="col-lg-12">
        {% if error %}
            <div class="has-error text-center">
                <div class="help-block">
                    {{ error|trans({}, 'FOSUserBundle') }}
                </div>
            </div>
        {% endif %}

        <form name="login" method="post" action="{{ path("fos_user_security_check") }}" class="form-horizontal form-login">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <h2 class="form-login-heading">Please sign in</h2>

            <label for="username" class="sr-only required">Email:</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Email" required="required" class="form-control">

            <label for="password" class="sr-only required">Password:</label>
            <input type="password" id="password" name="_password" placeholder="Password" required="required" class="form-control">

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                    Remember me
                </label>
            </div>

            <button id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

        <p class="text-center small-text">
            Don't have Account? <a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
        </p>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}
